body {
    background:url(images/Background.jpg) no-repeat center fixed;
    background-size: cover;
}

p{
  background-color: #333;
  color: black;
  margin-top: 9%;
  text-indent: -36px
}

div.a {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

div.b{
  text-align: right;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 10px;
  margin-top: 10%;
}

div.c{
  width: 50%;
  float: left;
}

div.d{
  width: 50%;
  float: right;
}

h1{
  font-family: Geneva, Verdana, sans-serif;

}

h2{
  margin-top: 0;
  margin-bottom: 3%;
}

h3{
 margin-top: 1%;
 margin-bottom: 1%;
}

dl{

}

ul {
  list-style-type: none;
  margin-right: 32%;
  margin-left: 33%;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  width: 33.33%;
}

li a {
  font-family: Geneva, Verdana, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 37px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: white;
  color: #696db3;
}
.inactive{
  background-color: #333;
}